.cartLink {
	color: black;
	text-decoration: none;
}
.cartContainer {
	margin: auto;
	width: 5rem;
	height: 5rem;
	display: flex;
}
.cartContainer img {
	width: 3rem;
	transform: translateX(0px);
	transition: ease-in-out 0.75s;
}
.cartItems {
	font-size: 2rem;
}
