.itemsView {
	width: 90%;
	margin: auto;
	justify-content: space-evenly;
	display: flex;
	flex-wrap: wrap;
}

.itemCard {
	width: 20rem;
	height: 25rem;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.itemImg {
	max-height: 15rem;
	margin: auto;
	margin-top: 1rem;
}

.itemData {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.itemData h5 {
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
}
