.loader {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-content: center;
}

.loader img {
	margin: auto;
	width: 10%;
	animation-name: loadingSpin;
	animation-duration: 3000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes loadingSpin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
